<%- include('partials/header') -%>
  <div class="container">
    <div class="row flex-row mt-5">
      <h1>Recent Travel Assignments</h1>
      
<!-- START CAROUSEL -->      
    <div class="card" style="width: 18rem;">
      <% for(var i=0; i<posts.length; i++) {%>
        <!-- make the list item a card -->
        <!-- make items into singular cards -->

      <img class="card-img-top img-fluid" src="<%= posts[i].image%>" alt="location">
      <!-- <div class="card-body"> -->
        <a href="/post/<%= posts[i]._id%>">
          <h5 class="card-title"><%= posts[i].location%></h5>
        </a>
        <a href="#" class="btn btn-primary">Go somewhere</a>

        <% } %>
      </div>
    </div>
    <!--  -->
<!-- END CAROUSEL -->

      
      <!-- <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <h2><%= posts[i].location%></h2>
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul> -->


    </div>
  </div>  
<%- include('partials/footer') -%>